<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daniel Topp</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/styles/normalize.css' media='screen' title='no title' charset='utf-8'>
    <link rel='stylesheet' href='/styles/skeleton.css' media='screen' title='no title' charset='utf-8'>
    <link rel='stylesheet' href='/styles/animate.min.css'>
    <link rel='stylesheet' href='/styles/master.css' media='screen' title='no title' charset='utf-8'>
  </head>
  <body>
    <span id='top'></span>
    <canvas id='canvas'></canvas>
    <a data-scroll href='#links'>
      <div class='title-card'>
        <div class='row about-me'>
          <img id='prof-pic' src='/images/me.png' title='Look at this cheeseball' />
          <div class='about-me-text'>
            <h1 class='animated fadeInRight'>Daniel Topp</h1>
            <p class='animated fadeInRight'>Sweater-wearing web developer, musician, and math nerd. <span>&darr;</span></p>
          </div>
        </div>
      </div>
    </a>

    <div class='title-card'>
      <span id='links'></span>
      <div class='row'>
        <div class='twelve columns'>
          <h1>Hey there!</h1>
          <p>I'm a web developer currently living in Chicago.  I also play a variety of musical instruments.  When I'm not doing either of those things, I like to ride my bike and drink beers on patios.</p>
          <p>Here's a sample of some of my work.  Click on a picture to learn more!</p>
          <a data-scroll href='#contact'><span class='blue'>Click this to get ahold of me.</span></a>
        </div>
      </div>

      <div class='row links'>
        <div class='three columns'>
          <a data-scroll href='#mac'>
            <img src='/images/mac.png' class='u-max-full-width' />
          </a>
        </div>
        <div class='three columns'>
          <a data-scroll href='#who-what-where'>
            <img src='/images/who-what-where.png' class='u-max-full-width' />
          </a>
        </div>
        <div class='three columns'>
          <a data-scroll href='#kastanza'>
            <img src='/images/kastanza.png' class='u-max-full-width' />
          </a>
        </div>
        <div class='three columns'>
          <a data-scroll href='#blocktopus'>
            <img src='/images/blocktopus.png' class='u-max-full-width' />
          </a>
        </div>
      </div>

    </div>

    <span id='mac'></span>
    <div class='title-card project'>
      <div class='row'>
        <div class='four columns'>
          <img src='/images/mac.png' class='u-max-full-width' />
        </div>
        <div class='eight columns'>
          <h3>Macaroni</h3>
          <p>Macroni is an online music making tool built with the web audio API, socket.io, and React.  Users can choose from three different instruments and connect to 'rooms' to jam with their friends.</p>

          <a target="_blank" href='http://dmtopp-macaroni.herokuapp.com/'><div class='button'>See it</div></a>
          <a target="_blank" href='https://github.com/dmtopp/macaroni'><div class='button'>Github</div></a>
          <a data-scroll href='#links'><div class='button'>Back</div></a>
        </div>
      </div>
    </div>

    <span id='who-what-where'></span>
    <div class='title-card project'>
      <div class='row'>
        <div class='four columns'>
          <img src='/images/who-what-where.png' class='u-max-full-width' />
        </div>
        <div class='eight columns'>
          <h3>Who/What/Where</h3>
          <p>Who/What/Where is a social app that lets users share what they're doing in the moment with people who are looking for things to do in the area.  Made with a group for General Assembly's WDI program, the project uses React and the Google Maps API on the front end with Node, Express, and MongoDB on the back end.</p>
          <a target="_blank" href='https://narwhals-whowhatwhereclient.herokuapp.com/'><div class='button'>See it</div></a>
          <a target="_blank" href='https://github.com/Narwhals-rule-the-world'><div class='button'>Github</div></a>
          <a data-scroll href='#links'><div class='button'>Back</div></a>
        </div>
      </div>
    </div>

    <span id='kastanza'></span>
    <div class='title-card project'>
      <div class='row'>
        <div class='four columns'>
          <img src='/images/kastanza.png' class='u-max-full-width' />
        </div>
        <div class='eight columns'>
          <h3>Kastanza</h3>
          <p>Kastanza is a web application that lets users find and rate public bathrooms near them.  Designed to be lightweight and mobile-friendly, this application uses jQuery with the Google Maps and Google Places APIs on the front end with a Sinatra server and PSQL on the back end.</p>
          <a target="_blank" href='https://kastanza.herokuapp.com/'><div class='button'>See it</div></a>
          <a target="_blank" href='https://github.com/dmtopp/wdi_project_two'><div class='button'>Github</div></a>
          <a data-scroll href='#links'><div class='button'>Back</div></a>
        </div>
      </div>
    </div>

    <span id='blocktopus'></span>
    <div class='title-card project'>

      <div class='row'>
        <div class='four columns'>
          <img src='/images/blocktopus.png' class='u-max-full-width' />
        </div>
        <div class='eight columns'>
          <h3>Blocktopus</h3>
          <p>Blocktopus is a standalone game built entirely with HTML, CSS, and JavaScript.  The game makes use of the canvas HTML element to manually animate all of its moving parts and is inspired by fractal trees.</p>
          <a target="_blank" href='http://dmtopp.github.io/project1/index.html'><div class='button'>See it</div></a>
          <a target="_blank" href='https://github.com/dmtopp/dmtopp.github.io/tree/master/project1'><div class='button'>Github</div></a>
          <a data-scroll href='#links'><div class='button'>Back</div></a>
        </div>
      </div>
    </div>

    <div class='title-card project'>
      <div class='row'>
        <div class='twelve columns' id='contact'>
          <p>Feel free to send me an email anytime at <a class='blue' href='mailto:dmtopp@gmail.com'>dmtopp@gmail.com</a>!</p>
          <a target="_blank" href='https://github.com/dmtopp/'><div class='button'>Github</div></a>
          <a target="_blank" href='https://www.linkedin.com/in/danieltopp'><div class='button'>LinkedIn</div></a>
          <div class='button' id='myspace'>MySpace</div>
          <a data-scroll href='#top'><div class='button'>Back to top</div></a>
          <br>
          <br>
          <p>See ya around.</p>
        </div>
      </div>
    </div>
    <!-- end container -->

    <script src='/js/smooth-scroll.js' charset='utf-8'></script>
    <script src='/js/app.js' charset='utf-8'></script>
  </body>
</html>
