<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Could this be a portfolio?</title>
    <link rel="stylesheet" href="/styles/animate.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/styles/skeleton.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/styles/master.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <canvas id="canvas"></canvas>

    <div class="title-card">
      <a href="#links"><div class="sweater-link"></div></a>
      <div class='row about-me'>
        <img id="prof-pic" src="/images/me.png" title="Look at this cheeseball" />
        <div class='about-me-text'>
          <h1 class='animated fadeInRight'>Daniel Topp</h1>
          <small class='animated fadeInRight'>Sweater-wearing web developer, musician, and math nerd. <span>&darr;</span></small>
        </div>

      </div>

    </div>
<!-- <p>I am a guitar-slinging web developer and armchair mathematician from the midwest.  I love learning new things and fusing art, music, and technology.  Let's build something cool together!</p> -->
    <div class="title-card">

      <div class="row" id="links">
        <div class="three columns">
          <a href="#mac">
            <img src="/images/mac.png" class="u-max-full-width" />
          </a>
        </div>
        <div class="three columns">
          <a href="#who-what-where">
            <img src="/images/who-what-where.png" class="u-max-full-width" />
          </a>
        </div>
        <div class="three columns">
          <a href="#kastanza">
            <img src="/images/kastanza.png" class="u-max-full-width" />
          </a>
        </div>
        <div class="three columns">
          <a href="#blocktopus">
            <img src="/images/blocktopus.png" class="u-max-full-width" />
          </a>
        </div>
      </div>

    </div>

    <a name="mac"></a>
    <div class="title-card project">
      <div class="row">
        <div class="four columns">
          <img src="/images/mac.png" class="u-max-full-width" />
        </div>
        <div class="eight columns">
          <h3>Macaroni</h3>
          <p></p>

          <a href="#"><div class='button'>See it</div></a>
          <a href="#"><div class='button'>Github</div></a>
          <a href="#links"><div class='button'>Back</div></a>
        </div>
      </div>
    </div>

    <a name="who-what-where"></a>
    <div class="title-card project">
      <div class="row">
        <div class="four columns">
          <img src="/images/who-what-where.png" class="u-max-full-width" />
        </div>
        <div class="eight columns">
          <h3>Who/What/Where</h3>
          <p>blah blah who/what/where blah blah blah blah blah who/what/where blah blah blah blah blah who/what/where blah blah blah blah blah who/what/where blah blah blah blah blah who/what/where blah blah blah blah blah who/what/where blah blah blah blah blah who/what/where blah blah blah blah blah who/what/where blah blah blah blah blah who/what/where blah blah blah blah blah who/what/where blah blah blah blah blah who/what/where blah blah blah blah blah who/what/where blah blah blah blah blah who/what/where blah blah blah </p>
          <a href="#"><div class='button'>See it</div></a>
          <a href="#"><div class='button'>Github</div></a>
          <a href="#links"><div class='button'>Back</div></a>
        </div>
      </div>
    </div>

    <a name="kastanza"></a>
    <div class="title-card project">
      <div class="row">
        <div class="four columns">
          <img src="/images/kastanza.png" class="u-max-full-width" />
        </div>
        <div class="eight columns">
          <h3>Kastanza</h3>
          <p>blah blah blah kastaanza blah blah blah blah blah blah kastaanza blah blah blah blah blah blah kastaanza blah blah blah blah blah blah kastaanza blah blah blah blah blah blah kastaanza blah blah blah blah blah blah kastaanza blah blah blah blah blah blah kastaanza blah blah blah blah blah blah kastaanza blah blah blah blah blah blah kastaanza blah blah blah blah blah blah kastaanza blah blah blah blah blah blah kastaanza blah blah blah blah blah blah kastaanza blah blah blah blah blah blah kastaanza blah blah blah blah blah blah kastaanza blah blah blah blah blah blah kastaanza blah blah blah blah blah blah kastaanza blah blah blah blah blah blah kastaanza blah blah blah </p>
          <a href="#"><div class='button'>See it</div></a>
          <a href="#"><div class='button'>Github</div></a>
          <a href="#links"><div class='button'>Back</div></a>
        </div>
      </div>
    </div>

    <a name="blocktopus"></a>
    <div class="title-card project">

      <div class="row">
        <div class="four columns">
          <img src="/images/blocktopus.png" class="u-max-full-width" />
        </div>
        <div class="eight columns">
          <h3>Blocktopus</h3>
          <p>blah blah blah Blocktopus blah blah blah blah blah blah Blocktopus blah blah blah blah blah blah Blocktopus blah blah blah blah blah blah Blocktopus blah blah blah blah blah blah Blocktopus blah blah blah blah blah blah Blocktopus blah blah blah blah blah blah Blocktopus blah blah blah blah blah blah Blocktopus blah blah blah blah blah blah Blocktopus blah blah blah blah blah blah Blocktopus blah blah blah blah blah blah Blocktopus blah blah blah blah blah blah Blocktopus blah blah blah blah blah blah Blocktopus blah blah blah blah blah blah Blocktopus blah blah blah blah blah blah Blocktopus blah blah blah blah blah blah Blocktopus blah blah blah blah blah blah Blocktopus blah blah blah </p>
          <a href="#"><div class='button'>See it</div></a>
          <a href="#"><div class='button'>Github</div></a>
          <a href="#links"><div class='button'>Back</div></a>
        </div>
      </div>
    </div>

    <div class="title-card project">
      <div class="row">
        <div class="twelve columns" id='contact'>
          <p>Contact:  dmtopp@gmail.com</p>
          <a href="#"><div class='button'>Github</div></a>
          <a href="#"><div class='button'>LinkedIn</div></a>
          <div class='button' id='myspace'>MySpace</div>
        </div>
      </div>
    </div>
    <!-- end container -->


    <script src="/js/app.js" charset="utf-8"></script>
  </body>
</html>
